@import "node_modules/govuk-frontend/govuk/all";
.app-datasets {
  @include govuk-responsive-padding(6, "top");
  @include govuk-responsive-padding(4, "bottom");
  color: govuk-colour("black");
}

.app-datasets__title {
  color: govuk-colour("black");
  @include govuk-responsive-margin(6, "bottom");
}

.app-datasets__description {
  @include govuk-font(24);
  margin-bottom: 0;
}

.app-datasets__caption {
  //   color: govuk-colour("white");
}

.app-datasets__image {
  display: none;
  @include govuk-media-query($from: desktop) {
    display: block;
    width: 100%;
    margin-top: govuk-spacing(3);
  }
}

.app-datasets__phase-banner__tag {
  background-color: govuk-colour("white");
  color: govuk-colour("blue");
}

.app-datasets__phase-banner__tag--alternative {
  background-color: govuk-colour("blue");
  color: govuk-colour("white");
}

.app-datasets__contents {
}

.app-datasets__list-item {
  @include govuk-font($size: 16);
}
.app-datasets__list-item:before {
  content: "\2014";
  margin-right: 8px;
}

.app-datasets__contents-title {
  @include govuk-font($size: 16);
  margin-bottom: 8px;
}

.app-datasets__publisher {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  height: min-content;
  overflow: visible;

  flex-flow: column;
  gap: govuk-spacing(2);

  padding: 0px 0px 0px govuk-spacing(3);
  margin-bottom: govuk-spacing(4);
  position: relative;

  border-color: govuk-colour("blue");
  border-style: solid;
  border-width: 0px 0px 0px 5px;
}

.app-datasets__publisher-text {
  @include govuk-font($size: 19);
  letter-spacing: 0px;
  margin-top: govuk-spacing(0);
  margin-bottom: govuk-spacing(0);

  font-family: "Helvetica Neue";
}
